// Spacing
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.button,
button,
dd,
dt,
li {
    margin-bottom: 0;
}

fieldset,
input,
select,
textarea {
    margin-bottom: 0;
}

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
    margin-bottom: 0;
}
