<appc-simple-notifications
	[options]="notificationOptions"
></appc-simple-notifications>

<header class="header">
	<a class="logo" routerLink="">
		<img
			class="logo"
			src="/assets/favicon-192x192.png"
			alt="logo"
		/>
	</a>
	<button
		type="button"
		class="navbar-toggler"
		(click)="navCollapse()"
	>
		&#9776;
	</button>
	<div class="inner">
		<a
			routerLinkActive="active"
			routerLink="signalr"
			>{{
				"app_nav_signalr" | translate
			}}</a
		>
		<a
			routerLinkActive="active"
			routerLink="profile"
			*ngIf="isLoggedIn"
			>{{ user?.name }}</a
		>
		<a
			(click)="logout()"
			href="javascript:void(null);"
			*ngIf="isLoggedIn"
		>
			{{ "app_nav_logout" | translate }}
		</a>
		<a
			routerLinkActive="active"
			routerLink="register"
			*ngIf="!isLoggedIn"
			>{{
				"app_nav_register" | translate
			}}</a
		>
		<a
			routerLinkActive="active"
			routerLink="login"
			*ngIf="!isLoggedIn"
			>{{
				"app_nav_login" | translate
			}}</a
		>
		<a
			href="https://github.com/likeafinch/angular-finch"
			target="_blank"
		>
			Github
		</a>
	</div>
</header>
<div
	class="inverted-navbar"
	[class.isNavbarCollapsed]="
		isNavbarCollapsed
	"
>
	<a
		routerLinkActive="active"
		routerLink="signalr"
		>{{
			"app_nav_signalr" | translate
		}}</a
	>
	<a
		routerLinkActive="active"
		routerLink="profile"
		*ngIf="isLoggedIn"
		>{{ user?.name }}</a
	>
	<a
		(click)="logout()"
		href="javascript:void(null);"
		*ngIf="isLoggedIn"
	>
		{{ "app_nav_logout" | translate }}
	</a>
	<a
		routerLinkActive="active"
		routerLink="register"
		*ngIf="!isLoggedIn"
		>{{
			"app_nav_register" | translate
		}}</a
	>
	<a
		routerLinkActive="active"
		routerLink="login"
		*ngIf="!isLoggedIn"
		>{{
			"app_nav_login" | translate
		}}</a
	>
	<a
		href="https://github.com/likeafinch/angular-finch"
		target="_blank"
		rel="noopener"
	>
		Github
	</a>
</div>
