
.right-signalr h1 {
    margin: unset;
}
.right-signalr {
    position: fixed;
    height: 30%;
    padding-top:6vw;
    top:0;
    right:0;
    width:26vw;
    margin-bottom: 0;
}
.signalr-title {
    display: block;
    width:25vw;
    margin-right:1vw;
    text-align: right;
    color: #313b47;
    border-bottom: solid .3vw #606c76;

}