
<div class="filler"><div class="login-form">
    <h2>Login</h2>
    <div class="row login-input-blocks">
        <div class="column">
            
    
            <appc-dynamic-form (onSubmit)="login($event)" [controls]="controls" [btnText]="'Login'" autocomplete="off"></appc-dynamic-form>
    
            <button type="button" class="password-reset" routerLink="forgetpassword">
                Reset Password
            </button>
                

    
        </div>
    </div>
</div></div>



