<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/1ca7c16a-c1ab-410e-9222-82217d4a0b44/resourceGroups/AngularFinch/providers/Microsoft.Web/sites/AngularFinchWeb</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://AngularFinchweb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>AngularFinchweb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AngularFinchWeb</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AngularFinchWeb</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>